body {
    background-color: #808080;
}

section {
    float: left;
    margin-right: 10px;
}

ol {
    margin: 0px;
}

li {
    margin-left: 0px;
}

.num {
    border: 1px solid black;
    margin: 4px;
    width: 10px;
}

.proverca {
    margin: 3px;
    margin-top: 5px;
}

.but {
    list-style-type: none;
}

.spisocbg {
    margin-top: 8px;
}
.check {
    border: 1px solid black;
    padding: 5px;
    margin: 4px;
    height: 10px;
    width: 10px;
    background-color: black;
}